.list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 9rem;
    background-color: transparent;
    margin: 70px;

}
.card .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
  }
.card .btn-mobile{
   margin-bottom:1rem;
}
.card:hover .btn{
    display:inline
}
  
  
/* .card:first-child{
    margin-left:110px
} */
/* .card:nth-child(6n-6){
    margin-left:110px
} */

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.required{
    color: #bf1650;
}
.required::before{
    display: inline;
    content: "⚠ ";
}